.media
  .media-left
    = link_to user_path(comment.user) do
      %img.media-object{alt: "64x64", "data-holder-rendered" => "true", "data-src" => "holder.js/64x64", src: "#{ comment.user.avatar }", style: "width: 64px; height: 64px;"}/
  .media-body
    %h4#top-aligned-media.media-heading
      = link_to user_path(comment.user), class: "anchorjs-link" do
        %span.anchorjs-icon
          #{ comment.user.username }
    %p #{ comment.comment }