.container.proto-new
  - if @prototype.errors.any?
    %p.alert.alert-danger
      = @prototype.errors.full_messages
  .col-md-8.col-md-offset-2
    = form_for(@prototype) do |f|
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :title, placeholder: "Title", class: "proto-new-title"
      .row
        .col-md-12
          .cover-image-upload
            = f.fields_for :prototype_images , @prototype.prototype_images.main.first do |i|
              = i.file_field :image
              = i.hidden_field :pr_flag, value: "main"
        .col-md-12
          %ul.proto-sub-list.list-group
        - @prototype.prototype_images.sub.each do |sub|
          %li.list-group-item.col-md-4
            .image-upload
              = f.fields_for :prototype_images, sub do |i|
                = i.file_field :image
                = i.hidden_field :pr_flag, value: "sub"
        %li.list-group-item.col-md-4
          .image-upload-plus
            %span +
      .row.proto-description
        .col-md-12
          = f.text_field :catchcopy, placeholder:"Catch Copy"
        .col-md-12
          = f.text_area :concept, placeholder:"Concept", cols: "30", rows: "4"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
              = text_field_tag '[prototype][design_list]', @prototype.design_list.join(','), placeholder: "Web Design", 'data-role'=>'tagsinput'
            .col-md-3
              = text_field_tag '[prototype][ui_list]', @prototype.ui_list.join(','), placeholder: "UI", 'data-role'=>'tagsinput'
            .col-md-3
              = text_field_tag '[prototype][application_list]', @prototype.application_list.join(','), placeholder: "Application", 'data-role'=>'tagsinput'
      .row.text-center.proto-btn
        %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Publish
