- if notice
  %p.alert.alert-success
    = notice
- if alert
  %p.alert.alert-danger
    = alert
.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            %img.media-object{alt: "64x64", "data-holder-rendered" => "true", "data-src" => "holder.js/64x64", src: "#{ @prototype.user.avatar }", style: "width: 64px; height: 64px;"}/
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to user_path(@prototype.user) do
              %span.degree
              = "by #{ @prototype.user.username }"
              %span.degree
              = "(#{ @prototype.user.works })"
            %span.degree
            = "#{ @prototype.user.profile }"
    .col-md-6.text-right
      -if user_signed_in?
        -if @prototype.like_exists?(current_user)
          %button.btn.btn-default.like_destroy#like_btn{data: {id: @prototype.id}}
            = image_tag("icon_redheart.svg")
            Like
            %span.num#like_count
              = @prototype.likes.count
        - else
          %button.btn.btn-default.like_create#like_btn{data: {id: @prototype.id}}
            = image_tag("icon_heart.svg")
            Like
            %span.num#like_count
              = @prototype.likes.count
      - else
        = link_to new_user_session_path do
          %button.btn.btn-default{type: "submit"}
            = image_tag("icon_heart.svg")
            Like
            %span.num
              = @prototype.likes.count
  .row
    .col-md-9
      = image_tag(@prototype.prototype_images.main.first.image, class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.prototype_images.sub.each do |sub|
          %li.list-group-item
            = image_tag(sub.image, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p #{ @prototype.catchcopy }
    .col-md-6
      %h4 Concept
      %p #{ @prototype.concept }
    .col-md-3
      %h4 Tag List(Web Design)
      %ul.proto-tag-list.list-inline
        - @prototype.design_list.each do |design_tag|
          %li
            = link_to design_tag, tag_path(design_tag), :class  => "btn btn-default"
      %h4 Tag List(UI)
      %ul.proto-tag-list.list-inline
        - @prototype.ui_list.each do |ui_tag|
          %li
            = link_to ui_tag, tag_path(ui_tag), :class  => "btn btn-default"
      %h4 Tag List(Application)
      %ul.proto-tag-list.list-inline
        - @prototype.application_list.each do |application_tag|
          %li
            = link_to application_tag, tag_path(application_tag), :class  => "btn btn-default"
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num#comments_count (#{ @prototype.comments.count })
    .col-md-8
      #render_comments
        = render partial: "comments/comment", collection: @prototype.comments
      - if user_signed_in?
        %h4 Write a comment
        = form_for [@prototype, @comment], class: "form-inline", role: "form", remote: true do |f|
          .row
            .form-group.col-md-10
              = f.text_area :comment ,placeholder: "Your comments", rows: "3", class: "form-control", id: "comment_area"
            .form-group.col-md-2
              %button.btn.btn-primary Comment

